<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Task</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}"/>
</head>
<body th:object="${detail}">
<h2>View Task <strong th:text="${detail.title}"></strong></h2>
<th>
    <div class="header">
        <br/>
        <div class="form">
            <span class="date" th:text="${detail.date}"></span>
            <h3><strong th:text="${detail.title}"></strong></h3>
            <p th:text="${detail.description}"></p>
        </div>
        <a class="return" style="color: white; text-decoration: none; border: 2px #d8ff00 solid; padding: 6px;"
           th:href="@{/board}">Return to list</a>
    </div>
</th>
</body>
</html>
