<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update task</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<form class="header" action="#" th:action="@{/update/{id}(id=${task.id})}" th:object="${task}" method="post">
    <h2>Edit task <span th:text="${task.title}"></span></h2>
    <div class="form">
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="name" placeholder="Title">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

        <label for="description">Description</label>
        <textarea type="text" th:field="*{description}" id="description" placeholder="Description"></textarea>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

        <input class="submit" type="submit" value="Update task">
        <a class="return"
           style="color: white; text-decoration: none; border: 2px #d8ff00 solid; margin: 10px auto; padding: 5px 16px;"
           th:href="@{/board}">Cancel</a>
    </div>
</form>
</body>
</html>
